/*
--------------------------------------------------------------------------------
personal-site
src/styles/layout.css

Composes global layout styling from focused stylesheet modules.

Module Author(s): Eric J. South
--------------------------------------------------------------------------------
*/

@import './layout/tokens.css';
@import './layout/base.css';
@import './layout/header-effects.css';
@import './layout/page-header-palette.css';
@import './layout/effects.css';
@import './layout/dividers.css';
