---
import { isHighlightedAuthor } from '@/lib/utils';

interface Props {
  authors: string[];
  label?: string;
  highlightName?: string;
}

const { authors, label = 'Authors', highlightName } = Astro.props;
---

<p class="text-base mb-2">
  <span class="font-medium">{label}:</span>{' '}
  {
    authors.map((author, index) => (
      <>
        <span
          class:list={[
            {
              'font-medium underline': isHighlightedAuthor(
                author,
                highlightName,
              ),
            },
          ]}
        >
          {author}
        </span>
        {index < authors.length - 1 && ', '}
      </>
    ))
  }
</p>
